.submit{
   width:70%;
   font-size: small;
   border-radius: 50%;
   margin-left:60px;
}
.form-group{
    font-size: small;
    width:70%;
}
.booking-input2{
    height: 1vh;
    cursor: pointer;
    padding:px 7px;
}
  
  .popup-content {
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content p {
    margin: 5px 0;
  }
  
  /*copied popup*/

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    color:darkcyan;
    z-index: 1000;
    text-align: left;
    
  }
  .popup-booking-review{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    text-align: left;
    padding:20px;
    z-index: 1000;
    overflow: hidden;

  }
  .popup-content-booking-review{
    padding:20px;
  }
  
  .popup-content {
    width: 100%;
  }
  
  .popup-content p {
    margin: 5px 0;
  }
  
  .Cancel-button2 {
    background: #d38c8c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .Cancel-button2:hover {
    background: #ff4d4d
  }
  .Cancel-button2{
    display: block;
    width:100%;
    text-align: center;
    margin-top:10px;
  }
  .appointments1{
    color:rgb(128, 133, 126);
    text-align: center;
    font-size: medium;
    text-decoration: underline;
    margin-top:10px;

  }
  .appointments1:hover{
    color:darkgrey;
  }