.doctor-card-container {
    width: 300px;
    height: 100%;
    border: 3px solid rgba(59, 165, 171, 0.89);
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgba(95, 142, 145, 1);
  }
  .cancel-appointment {
    background-color:rgba(177, 79, 85, 0.64);
  }
  .cancelAppointment{
    background-color: #d63027;
    margin-left:270px;

  }
  .tanks{
    text-align: center;
  }
  .booking-name{
    text-align: center;
  }
  .userrole{
    text-decoration: underline;
  }
  .username{
    text-decoration: underline;
  }
  .booking-role{
    text-align: center;
  }
  .usernumber{
    text-decoration: underline;
  }
  .usertime{
    text-decoration: underline;
  }
  .userdate{
    text-decoration: underline;
  }
  .booking-number{
    text-align: center;
  }

  .booking-date{
    text-align: center;
  }
  .booking-time{
    text-align: center;
  }
  .doctor-card-details-container {
    padding: 20px;
  }
  
  .doctor-card-profile-image-container {
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  .doctor-card-profile-image-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom:20px;
  }
  
  .doctor-card-details {
    text-align: center;
  }
  
  .doctor-card-detail-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color:white;
  }
  
  .doctor-card-detail-speciality {
    font-size: 16px;
    margin-bottom: 5px;
    color:white;
  }
  
  .doctor-card-detail-experience {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color:white;
  }

  
  .doctor-card-detail-location,
  .doctor-card-detail-clinic,
  .doctor-card-detail-consultationfees {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .doctor-card-detail-consultationfees{
    font-weight: bold;
    
  }
  
  .book-appoinment-btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  #book-appointment{
    width:100%;
    margin-bottom:0px;
  }
  
  .book-appoinment-btn div:nth-child(2) {
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(10, 101, 107, 1);
  }
  .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.doctorbg{
background-color: rgba(53, 158, 163, 1);
padding-top:10px;


}
.booked-appointment{
  margin-top:70px;
}

.modal-btn:hover {
  background-color: #0d8af5;
}

.cancel-appointment-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-appointment-btn:hover {
  background-color: #d63027;
}
.appointment-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  /* height: auto;
  overflow-y: auto; */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  background-color: rgba(53, 158, 163, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

margin-bottom:10px;
}
.profile{
  width:10%;
  margin-top:10px;
}

button:hover {
  background-color: rgba(172, 204, 206, 1);
}


.btnslot{
  background-color: green;
  cursor: pointer;
  /* color: rgb(249, 60, 60); */
}
