
.search-results-container .doctorcard{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

h2 {
 font-size:1.5rem;
 margin:4vh 0;
}
 h3{
    font-size: 1.1rem;
    margin-bottom:4vh;
 }
 .no-doctors-found{
    color:rgb(158, 155, 155);
    text-decoration: underline overline;
    text-underline-offset: 0.5rem;
 }