@media (max-width: 1024px) {
  h3 {
    font-size: 1.8rem;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }

  .password-change-input,
  .email-change-input,
  .phone-change-input,
  .email-label,
  .password-label,
  .phone-label {
    width: 60%;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.6rem;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .password-change-input,
  .email-change-input,
  .phone-change-input,
  .email-label,
  .password-label,
  .phone-label {
    width: 70%;
  }

  .details-change-btn {
    width: 50%;
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 1.4rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-top:2vh;
  }

  .password-change-input,
  .email-change-input,
  .phone-change-input,
  .email-label,
  .password-label,
  .phone-label {
    width: 90%;
  }

  .details-change-btn {
    width: 70%;
  }
}

